@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
* {

    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

.h1 {

    text-align: center;
    font-weight: bold;
    background-color: #0F131C;
    color: lightgrey;
    height: 50px;
}

#background {

    background-color: grey;
    height: 900px;
}

.container {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 90%;
    width: 85%;
    background-color: #343a40;
    border: 2px solid yellowgreen;
    border-radius: 12px;
}

.container input {

    margin: auto;
    background-color: lightgrey;
    border: 8px solid yellowgreen;
    border-radius: 150px;
    outline: none;
    height: 467px;
    width: 500px;

}

#section {
    height: 60px;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

#marquee {

    margin-bottom: -4px;
    height: 24px;
}